opencv-python-headless==4.5.5.64
scikit-learn==0.24.2
tensorflow==2.6.0
keras==2.6.0
streamlit==1.10.0
pydicom==2.2.2
SimpleITK==2.1.1
itk==5.2.1
pandas==1.3.5
gdcm==1.1
numpy==1.19.5
joblib==1.1.0
requests==2.26.0
